
body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    text-align: center;
}
.b{
	height:400px;
	width:100%;
	z-index:100;
}
strong { font-weight: 700; }

a, a:hover, a:focus {
	color: #42bfc2;
	text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
h1,h2,h3,h4,h5,h6{
	color:black;

}

h2 {
	margin-top: 10px;
	font-size: 42px;
    font-weight: 100;
    line-height: 54px;
}

img { max-width: 100%; }

::-moz-selection { background: #42bfc2; color: #fff; text-shadow: none; }
::selection { background: #42bfc2; color: #fff; text-shadow: none; }
/*navbar*/
.navbar{
	margin-top:-20px;
	height:50px;
}
.navbar-header{
   left: 50%;
   position: relative;
   transform: translateX(-50%);
}
.navbar-header img{
	width:50%;
	padding:2%;
	margin-top:20%;
}
.navbar-right li h5{
	color:white;
	margin-top:-0px;
	font-weight:600;
	
	
}
.navbar-right li {

}

/***** Coming Soon *****/

.coming-soon {
    margin: 0 auto;
}

.inner-bg {
    padding: 75px 0 40px 0;
}

.coming-soon .logo {
	padding-bottom: 20px;
}

.coming-soon .logo h1 {
	margin: 0;
}

.coming-soon .logo a {
	display: inline-block;
	width: 200px;
	height: 110px;
	background: url(../img/logo.png) center center no-repeat;
	text-indent: -99999px;
}
.coming-soon .logo a:focus { outline: 0; }

.coming-soon .logo a:hover { background-image: url(../img/logo-hover.png); }

.coming-soon .logo a:before {
	content: url(../img/logo-hover.png);
	width: 0;
	height: 0;
	visibility: hidden;
}

.coming-soon p {
	margin: 60px 0 10px 0;
	padding: 0 120px;
    font-size: 22px;
    line-height: 36px;
}

.timer {
    margin-top: 60px;
}

.timer .days-wrapper,
.timer .hours-wrapper,
.timer .minutes-wrapper,
.timer .seconds-wrapper {
    display: inline-block;
    width: 160px;
    margin: 0 10px;
    font-size: 18px;
}

.timer .days,
.timer .hours,
.timer .minutes,
.timer .seconds {
    font-size: 80px;
    font-weight: 100;
    line-height: 90px;
}
.top{
	 background:#1E848C;
	 height:50px;
	 margin-top:1.4%;
}
.bottom{
	background-color: white;
	height:60px;
}
.subscribe {
	margin-top: 60px;
}

.subscribe form input {
    width: 550px;
    height: 35px;
    border:solid 1px #7ac9cc ;
}

.success-message, .error-message {
	margin-top: 20px;
	font-size: 18px;
    line-height: 32px;
}
/* Main div with image*/
.subscribe{
	width:100%;
	background-color:none;
	height:50px;
	margin-top:10%;
}
logonav{
	display:inline-block;
}
logonav ul li{
	display:inline-block;
	float:left;
}


/***** Footer *****/

footer {
	margin-top: 700px;
	height:200px;
	padding: 20px 0 15px 0;
	background-color:#7ac9cc;
	
}

.footer-copyright p {
	margin: 0;
	font-size: 18px;
    line-height: 32px;
    color: #fff;
    text-align: left;
}

.footer-copyright a { color: #fff; border-bottom: 1px dotted #fff; }
.footer-copyright a:hover { color: #fff; border: 0; }

.footer-social {
	text-align: right;
}

/* social icons */
.social-icon {
	display: inline-block;
	width: 48px;
	height: 48px;
	margin: 5px;
	background: center center no-repeat;
}

.social-icon.facebook { background-image: url(../img/social-icons/facebook.png); }
.social-icon.twitter { background-image: url(../img/social-icons/twitter.png); }
.social-icon.dribbble { background-image: url(../img/social-icons/dribbble.png); }
.social-icon.google-plus { background-image: url(../img/social-icons/google-plus.png); }

.hosphar{
	margin-top:5%;
	margin-bottom:-8%;
	background-color:none;
	opacity:75%;
	height:50px;
	border-radius:2px;
}
.two {
	position:fixed;
	top:0px;
	width:98%; 
	height:75px; 
	background-color:#DDDDDD;
	color: #FFFFFF;
	z-index:10;
	display:none;
	
}
.three{
	position:fixed;
	top:0px;
	width:100%; 
	height:75px; 
	background-color:#DDDDDD;
	color: #FFFFFF;
	z-index:10;
	
	
}
.features{
	background-color:#1E848C; 
	height:50px;
	margin-top: 30%;
	border-top-right-radius: 3em;
	border-top-left-radius: 3em;
	width:100%;
}
.heading{
	height:50px;
	background-color: white;
	margin-bottom:10vh;
	

}
.card{
	background-color: white;
	height:240px;
	border-radius: 5px;
	margin-top:2vw;
	z-index:2;
	width:45vw;
}
.tip{
	background-color: white;
	height:400px;
	border-radius: 3px;
	margin-top:2vh;
	z-index:3;
	width:25vw;
}
.image img{
	height:120px;
	border-radius: 4px;
	margin-left:-13%;
	width:90%;
}
.content{
	height:100px;
	float:left;
	text-align: left;
}
.sub{ 	
	border:solid 1px;
	border-right-color: #7ac9cc;
	border-left:thin  1px transparent;
	border-top:thin  1px transparent;
	height:50px;

}
.tip img{
	height:200px;
	margin:5%;
	width:92%;
}
.head{
	margin-top:5%;
}
.card1{
	background-color:white;
	border-radius:5px;
	height:auto;
	margin-top:10%;
	padding:0%;
	width:20.5%;
	max-height:330px;
	
	box-shadow:1px 5px 5px #CCCCCC;
}
.card1 img{
	height:150px;
	width:60vw;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.card10{
	background-color:white;
	border-radius:5px;
	
	margin-top:10%;
	padding:0%;
	width:20.5%;	
	height:auto;
}
.coupon{
	background-color: white;
	height:auto;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	padding:0;
}

.booking{
	background-color: white;
	height:450px;
	padding:0%;
	border-radius:5px;
	position:fixed;
	float:right;
	margin-left:70%;
	z-index:3;
	box-shadow:1px 5px 5px #CCCCCC;

}
.book{
	background-color: #1E848C;
	height:50px;
	width:100%;
	padding:5%;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
}
.card2{
	background-color: white;
	height:200px;
	margin-top:4%;
	border-radius: 5px;
	padding:0;

}
.p p{
	text-align:left;
	font-size:1.5em;
	padding-left:2%;
}
.foot{
	background-color:#1E848C;
	height:40px; 
	
}

.card3{
	
	height:200px; 
	margin-top:2%;
	border-radius: 5px;
	background-color: white;
}
.card4{
	padding:0;
	margin-right:0;
	margin-left:0;
	height:200px; 
	margin-top:2%;
	border-radius: 5px;
}
.card5{
	background-color:white;
	height:auto; 
	margin-top:0%;
	border-radius: 5px;
}
.detail{
	background-color: white;
	height:200px;
	margin-left:-10%	;
}
.det{
	margin-top:30%;
	background-color: white;
	height:300px;
	padding:0;
	margin:0;

}
.det img{
	height:300px;
}
.innerside{
	background-color: white;
	width:10px;
}
.half{
	overflow:hidden;
	width:100%;
	height:300px;
}
.para{
	margin-left:-5px;
	padding-right:6%;
	text-align:justify;
	font-size:14px;
	color:black;
}
.healthtips{
	margin-top:30%;
	margin-left:10%;
	color:#1E848C;	
}


.hospital{
	margin-top:30%;
	color:#1E848C;	
		
}	